*{
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none;
   }
.logo_hud{	
	background-image: url(Images/LOGO_HUD.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
.main_hud{
	display: flex;
    position: absolute;
    z-index: 1;
    width: 235px;
    height: 70px;
    bottom: 15px;
    right: 192px;
    background-color: rgba(0,0,0,0.65);
}
.speed_icon{
	position: relative;
	z-index: 2;
	opacity: 1;
	padding: 3px;
}
.svg_icon_one{
	display: flex;
	margin-top: 15px;
}
.svg_icon_two{
	display: flex;
	margin-top: 4px;
	width: 113px;
	overflow: hidden;
	flex-wrap: wrap;
}
.two_icon{
	position: relative;
	z-index: 2;
	opacity: 1;
	padding: 3px;

}
.pos_1{
	position: absolute;
	top: -4px;
}
.pos_2{
	position: absolute;
    top: 4px;
    left: 164px;
}
.pos_3{
	position: absolute;
    left: 187px;
    top: 6px;
}
.pos_4{
	position: absolute;
    top: 24px;
}
.pos_5{
	top: 31px;
    position: absolute;
    left: 165px;
}
.pos_6{
	 position: absolute;
    top: 31px;
    left: 196px;
}
.svg_icon_three{
	display: flex;
    padding: 6px;
}
.svg_icon_three li{
	padding: 3px;
}
.svg_icon_four{
    display: flex;
    position: absolute;
    padding-left: 6px;
    bottom: 6px;
}
.svg_icon_four li{
	padding: 3px;
}
.microphone{
    position: absolute;
    right: 23px;
    bottom: 13px;
}
.logo{
	position: absolute;
    z-index: 4;
    right: 15px;
    top:15px;
}
.logo_icon{
	position: absolute;
    right: 15px;
}
.logo_icon_1{
	position: absolute;
    right: 249px;
    top: -12px;
}
.main_hud_2{	
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 177px;
    bottom: 15px;
    right: 15px;
    height: 70px;
    background-color: rgba(0,0,0,0.65);

}
     